


/* --main----- */

.ssfw-main{
    /* border: 1px solid red; */
    margin:0px 0 0px;
    flex-direction: column;
    align-items: center;
}
.ssfw-main>div{
    /* border:1px solid blue; */
    width:950px;
    justify-content: space-evenly;
    margin-top: 200px;
}
.ssfw-main>div p{
    display: flex;
    /* border: 1px solid pink; */
}
.ssfw-main>div img{
    padding: 10px;
    /* border: 1px solid pink; */
}

.ssfw-main h2{
    border-bottom:1px solid #c8b9cd;
    color: dimgray;
    font-size: 45px;
    font-weight: lighter;
    font-style: italic;
    margin:200px 0px 200px;
}

/* ------content */
/* -----spring */
.ssfw-main .sswf-con1 img{
    width:300px;
    height:450px;
}
.ssfw-main .sswf-con1 p{
    width:150px;
    align-items: center;
    justify-content: center;
    font-family: 'MeshedDisplay-ExtraLight';
}
.ssfw-main .sswf-con2{
    height:300px;
    position: relative;
    margin-bottom: 200px;
}
.ssfw-main .sswf-con2 img{
    position: absolute;
}
.ssfw-main .sswf-con2 .left{
    width:200px;
    height:300px;
    left:65px;
}
.ssfw-main .sswf-con2 .right{
    width:200px;
    height:300px;
    bottom:-100px;
    right:75px;
}
.ssfw-main .sswf-con2 p{
    width:150px;
    align-items: center;
    justify-content: center;
    font-family: 'MeshedDisplay-ExtraLight';
}

.ssfw-main .sswf-con3{
    height:450px;
    position: relative;
}
.ssfw-main .sswf-con3 img{
    position: absolute;
}
.ssfw-main .sswf-con3 p{
    position: absolute;
    top:200px;
    left:80px;
}
.ssfw-main .sswf-con3 .middle{
    width:230px;
    height: 300px;
    top:75px;
    left:380px;
}
.ssfw-main .sswf-con3 .right{
    width:230px;
    height: 300px;
    bottom:0px;
    right:90px;
}
.ssfw-main .sswf-con4 p{
    width:200px;
    font-family: 'MeshedDisplay-ExtraLight';
}

.ssfw-main .sswf-con5 img{
    width:470px;
    height:650px;
}

.ssfw-main .sswf-con6{
    height: 500px;
    position: relative;
}
.ssfw-main .sswf-con6 img{
    position: absolute;
}

.ssfw-main .sswf-con6 .right{
    width:290px;
    height: 420px;
    top:-60px;
    left: 85px;
}
.ssfw-main .sswf-con6 .left{
    width:290px;
    height:420px;
    bottom: -30px;
    left: 385px;
}
.ssfw-main .sswf-con6 p{
    width:105px;
    position: absolute;
    bottom:110px;
    right:85px;
    font-family: 'MeshedDisplay-ExtraLight';
}

/* -----summer */

.ssfw-main .sswf-con7 img{
    width:420px;
    height:580px;
}

.ssfw-main .sswf-con8 P{
    width:120px;
    font-family: 'MeshedDisplay-ExtraLight';
}

.ssfw-main .sswf-con9{
    height: 400px;
    position: relative;
}
.ssfw-main .sswf-con9 img{
    position: absolute;
}
.ssfw-main .sswf-con9 .left{
    width:200px;
    height:300px;
    bottom:0px;
    right:230px;
}
.ssfw-main .sswf-con9 .right{
    width:200px;
    height:300px;
    top:30px;
    right:70px;
}
.ssfw-main .sswf-con9 p{
    width:50px;
    position: absolute;
    top:140px;
    left:260px;
    font-family: 'MeshedDisplay-ExtraLight';
}

.ssfw-main .sswf-con10{
    height: 650px;
    font-family: 'MeshedDisplay-ExtraLight';
    flex-direction: column;
    /* border:1px solid black; */
    align-items: center;
}
.ssfw-main .sswf-con10 img{
    width:380px;
    height:280px;
    font-family: 'MeshedDisplay-ExtraLight';
}


.ssfw-main .sswf-con12{
    height:600px;
    position: relative;
}
.ssfw-main .sswf-con12 img{
    position: absolute;
    /* box-shadow: 3px 3px 3px rgba(0,0,0,0.3); */
}
.ssfw-main .sswf-con12 .left{
    width:300px;
    height:450px;
    top:-30px;
    left: 170px;
}
.ssfw-main .sswf-con12 .right{
    width:295px;
    height:430px;
    bottom: -30px;
    right:145px;
}

.ssfw-main .sswf-con13{
    height:585px;
    position: relative;
}
.ssfw-main .sswf-con13 img{
    width:470px;
    height: 585px;
    position: absolute;
    left: 70px;
    /* box-shadow: 3px 3px 3px rgba(0,0,0,0.3); */
}
.ssfw-main .sswf-con13 p{
    width:210px;
    position: absolute;
    bottom: 50px;
    right:105px;
    font-family: 'MeshedDisplay-ExtraLight';
}

.ssfw-main .sswf-con14 img{
    width:450px;
    height:700px;
}
.ssfw-main .sswf-con15{
    height: 70px;
    position: relative;
}
.ssfw-main .sswf-con15 p{
    width:300px;
    position: absolute;
    top:10px;
    left:95px;
    font-family: 'MeshedDisplay-ExtraLight';
}

.ssfw-main .sswf-con16{
    height: 650px;
    position: relative;
}
.ssfw-main .sswf-con16 img{
    position: absolute;
}

.ssfw-main .sswf-con16 .left{
    width:300px;
    height:450px;
    top:0;
    left:220px;
    padding: 0;
}
.ssfw-main .sswf-con16 .right{
    width:300px;
    height:450px;
    bottom: 0;
    right:160px;
    /* box-shadow: 3px 3px 3px rgba(0,0,0,0.3); */
    padding: 0;
}




@media screen and (min-width:899px){
    .mobile{
        display: none;
    }
}

@media screen and (max-width:900px){

    
    .m-ssfw-main{
        margin-top: 100px;
        /* border:1px solid blue; */
        width:100%;
        flex-direction: column;
        align-items: center;
    }
    .m-ssfw-main>div{
        width:100%;
        align-items: center;
        justify-content: center;
        margin: 60px 0;
        /* border:1px solid blue; */
        font-size: 15px;
    }
    .m-ssfw-main img{
        width:30%;
        height:100%;
    }
    .m-ssfw-main .m-con1{
        gap:35px;
    }
    .m-ssfw-main .m-con2{
        justify-content: space-evenly;
    }
    .m-ssfw-main .m-con3{
        justify-content: space-evenly;
    }
    .m-ssfw-main .m-con4{
        gap:35px;
    }
    .m-ssfw-main .m-con5{
        gap:10px;
        flex-direction: column;
    }

    .m-ssfw-main .m-con5 .left{
        margin-right: 30%;
    }
    .m-ssfw-main .m-con5 .right{
        margin-left: 30%;
    }

    .m-ssfw-main .m-con6{
        flex-direction: column;
        gap:5px;
    }
    .m-ssfw-main .m-con7{
        gap:30px;
    }
    .m-ssfw-main .m-con8{
        gap:30px;
    }
    .m-ssfw-main .m-con8 .middle{
        width:60%;
    }

    .m-ssfw-main .m-con9{
        gap:50px;
    }
    .m-ssfw-main .m-con10{
        gap:10px;
    }
    .m-ssfw-main .m-con11{
        gap:10px;
    }
    .m-ssfw-main .m-con12{
        flex-direction: column;
        gap:10px;
    }
    .m-ssfw-main .m-con12 .left{
        margin-left: 30%;
    }
    .m-ssfw-main .m-con12 .right{
        margin-right:30%;
    }

    .m-ssfw-main h1{
        font-family: 'MeshedDisplay-ExtraLight';
        border-bottom: 1px solid #E1DEE2;
        padding: 5px;
    }
    .m-ssfw-main .spring{
        margin: 20px 0 50px 0;
        color: #a09aa2;
    }
    .m-ssfw-main .summer{
        margin: 150px 0 50px 0;
        color: #7e7780;
    }
    .m-ssfw-main>div p{
        font-family: 'MeshedDisplay-ExtraLight';
    }



    .m-last{
        width:100%;
        /* border:1px solid blue; */
        margin: 50px 0 30px 0;
        align-items: center;
        justify-content: center; 
        flex-direction: column;
    }
    .m-last img{
        width: 150px;
        border-top:1px solid #E1DEE2;
    }


}

